version: '3.1'

services:
  mysql:  
    image: mysql:5.7
    container_name: mysql
    hostname: mysql
    environment:
      - MYSQL_ROOT_PASSWORD=IamTheLegend
      - MYSQL_DATABASE=cms
    restart: unless-stopped
    ports:
      - 127.0.0.1:3307:3306
    volumes:
      - mysql-data:/var/lib/mysql
      - ./db:/docker-entrypoint-initdb.d

  app:
    build: .
    container_name: app
    hostname: app
    restart: unless-stopped
    ports:
      - "31332:80"
    links:
      - mysql
    depends_on:
      - mysql

volumes:
  mysql-data:

networks:
  default:
